body {
    background:linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('images/menu_background.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0px;
    font-family: Comic Sans MS;
}

div.content{
    border-radius: 25px;
    border:3px solid #DD7835;
    text-align: center;
    background-color: white;
    margin: 8% 30% 5% 30%;
    min-width:450px;
}

div.content h1{
    margin-left:20%;
    margin-right: 20%;
    background-color:#DD7835;
    color:white;
    font-size: 40px;
    font-family: Comic Sans MS;
}

img {
    border-radius: 25px;
    margin-top: -50px;
    margin-bottom: -40px;
}

p{
    font-size:24px;
}